img{
  width: 120px;
  border: none !important;
}

blockquote {
  text-align: left;
  box-shadow: none !important;
  border-left: 15px solid #788E95 !important;
  padding-left: 20px !important;
  font-size: 70% !important;
}

h4{
  text-align: left;
}

td{
  border: none !important;
}
